<!-- Search Component -->
<div class="container">
    <div class="row">
        <div class="col-sm-5 offset-sm-7">
            <h5>Search for a component</h5>
            <form class="navbar-form" role="search">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Search Component Ends-->

<div style="margin-top:40px;"></div>

<!-- Slider -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h6>All Components</h6>
        </div>
        <div style="margin-top:30px;"></div>
        <div class="col-sm-12">
            <div id="Slider" class=" swiper-container ">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <div style="background-image: url( 'https://images.pexels.com/photos/417082/pexels-photo-417082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div style="background-image: url( 'https://images.pexels.com/photos/2958498/pexels-photo-2958498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div style="background-image: url( 'https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div style="background-image: url( 'https://images.pexels.com/photos/417082/pexels-photo-417082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div style="background-image: url( 'https://images.pexels.com/photos/2958498/pexels-photo-2958498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div style="background-image: url( 'https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div style="background-image: url( 'https://images.pexels.com/photos/417082/pexels-photo-417082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div style="background-image: url( 'https://images.pexels.com/photos/2958498/pexels-photo-2958498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div style="background-image: url( 'https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') "
                            class="bg-img ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider -->

<!-- divider -->
<div style="margin-top:50px;"></div>
<!-- divider -->

<!-- Description -->
<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <h6>How to integrate the components into future projects</h6>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa modi, quia obcaecati molestias error
                perferendis harum facilis libero laborum excepturi vel laboriosam numquam neque sunt repellendus
                exercitationem, optio suscipit est alias. Veritatis fugit
                ullam amet veniam voluptatem dignissimos! Sit corrupti sunt quaerat harum ipsum laborum, qui inventore
                ab aut odio.
            </p>
        </div>
        <div class="col-sm-12">
            <h6>Additional Info</h6>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa modi, quia obcaecati molestias error
                perferendis harum facilis libero laborum excepturi vel laboriosam numquam neque sunt repellendus
                exercitationem, optio suscipit est alias. Veritatis fugit
                ullam amet veniam voluptatem dignissimos! Sit corrupti sunt quaerat harum ipsum laborum, qui inventore
                ab aut odio.
            </p>
        </div>
    </div>
</div>
<!-- Description Ends -->

<!-- divider -->
<div style="margin-top:50px;"></div>
<!-- divider -->

<!-- Card -->
<div id="Cards" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3> Developers behind these awesome components </h3>
            <div style="margin-top:30px;"></div>
        </div>
        <div class="col-sm-12 d-flex justify-content-around">
            <div class="">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/417082/pexels-photo-417082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Milan</h5>
                        <p class="card-text">Desc about place Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Quia, </p>
                        <a href="#" class="btn btn-primary">Contact</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/2958498/pexels-photo-2958498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Nigel</h5>
                        <p class="card-text">Desc about place Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Quia, </p>
                        <a href="#" class="btn btn-primary">Contact</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Card -->

<!-- divider -->
<div style="margin-top:100px;"></div>
<!-- divider -->